.list__item {
    border: 2px solid black;
    max-width: 280px;
    height: 280px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 40px
}
.list__img {
    width: 280px;
    height: 150px;
}
.list__title {
    color: red;
    font-weight: 600;
}
.list__desciption{
    font-size: 14px;
}
