.footer{

    width: 100%;
    bottom: 0;
    left: 0;
}

.footer__content {
    font-size: 10px;
    background-color: gray;
    padding: 14px;
    color: white;
    position: relative;
}
.footer__logo {
    width: 64px;
}
.footer__license {
    margin: 40;
}
.footer__link {
    text-decoration: none;
    color: white;
}
